header{
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
}

.content{
    display: flex;
    width: 100%;
    flex-direction: column;

}

.imglogo{
    height: 100%;
    max-width: 155px;
    margin-top: 10px;
}

.menu{
    display: flex;
    width: 100%
    flex-direction: row;
}



